.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    width: 100vw;
    height: 40px;
    margin-bottom: 20px;
    background-color: #ef9ea3;
}

.header p {
    font-size: 20px;
}

.left_header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.rigth_header {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.input_header {
    width: 50%;
    height: 24px;
    padding-left: 8px;
    border: none;
    border: solid 2px transparent;
    border-radius: 4px;
    color: black;
    font-size: 18px;
}

.input_header:focus {
    border: solid 2px white;
}

.back {
    height: 80%;
    margin-left: 20px;
    cursor: pointer;
}

.back img {
    width: 20px;
}

.center_all {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.listing {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 20px;
    overflow-x: scroll;
}

.list_identifier {
    width: 90%;
    min-width: 1350px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 10px;
    gap: 15px;
    background-color: #9389bd;
    border: 1px solid #9389bd;
    font-weight: 900;
}

.list_identifier img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.null {
    width: 30px;
}

.container_div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list_clients {
    width: 90%;
    min-width: 1350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid #9389bd;
}

.list_clients img {
    width: 30px;
    cursor: pointer;
}

.name {
    width: 300px;
    font-size: 16px;
    cursor: pointer;
}

.adress {
    width: 300px;
    font-size: 16px;
}

.city {
    width: 150px;
    font-size: 16px;
}

.state {
    width: 100px;
    font-size: 16px;
}

.cell {
    width: 150px;
    font-size: 16px;
}

.email {
    width: 150px;
    font-size: 16px;
}

@media (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    .header p {
        margin: 0;
    }
    .back {
        height: 100%;
        margin: 0;
    }
    .left_header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .rigth_header {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }
}
